
<div class="fund-info hide">
  <a href="#" class="pledge-toggle-info pledge-hide-info">okay, neat!</a>

  <h2>community funding</h2>

  <p class="details">
    development is split into milestones on which the features are
    discussed and decided upon in the <a target="_blank" href="https://groups.google.com/forum/#!forum/wavepot">mailing list</a> with the help of the community.<br><br>
    a funding campaign is then setup for each next milestone which supports
    development and keeps the project up and alive.<br><br>we are looking at a blank canvas. everyone is invited to contribute in any way they feel so and all suggestions are welcome and appreciated.
    <a target="_blank" href="https://groups.google.com/forum/#!forum/wavepot">join the discussion</a> now and let's build together the sweetest audio platform ever!
  </p>
</div>

<div class="fund-campaign">

  <a href="#" class="pledge-toggle-info pledge-show-info">what is this?</a>

  <h2><%= c.name %></h2>

  <p class="details"><%- c.details %></p>

  <div class="pledge-stats">
    <div class="pledge-raised"><span class="pledge-amount">$<%= c.pledged %></span> raised of $<%= c.target %> goal</div>
    <div class="pledge-percentage"><%= c.percentage %>%</div>
  </div>

  <div class="pledge-progress"></div>

  <div class="pledge-buttons hide">
    <div class="pledge-button pledge-bitcoin">pledge with bitcoin</div>
    <div class="pledge-button pledge-dogecoin">pledge with dogecoin</div>
  </div>

  <div class="pledge-details pledge-details-bitcoin">
    <div class="qrcode-container">
      <img class="qrcode" src="<%= c.wallets.bitcoin.qrcode %>">
      <span class="qrcode-bitcoin-sign"></span>
    </div>
    <p>
      <input readonly onclick="this.select()" value="<%= c.wallets.bitcoin.address %>">
      <a class="pledge-direct" href="<%= c.wallets.bitcoin.uri %>">pledge with bitcoin</a><br><span class="pledge-alter">use <a href="#" class="pledge-alter-dogecoin">dogecoin</a></span>
      <span class="pledge-alter">or <a href="#" class="pledge-alter-paypal">paypal</a></span>
    </p>
  </div>

  <div class="pledge-details pledge-details-dogecoin hide">
    <div class="qrcode-container">
      <img class="qrcode" src="<%= c.wallets.dogecoin.qrcode %>">
      <span class="qrcode-dogecoin-sign"></span>
    </div>
    <p>
      <input readonly onclick="this.select()" value="<%= c.wallets.dogecoin.address %>">
      <a class="pledge-direct" href="<%= c.wallets.dogecoin.uri %>">pledge with dogecoin</a><br><span class="pledge-alter">use <a href="#" class="pledge-alter-bitcoin">bitcoin</a></span>
      <span class="pledge-alter">or <a href="#" class="pledge-alter-paypal">paypal</a></span>
    </p>
  </div>

  <div class="pledge-details pledge-details-paypal hide">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <p>
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NLQC3K8FPPU9J">
        <!-- input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" -->
        <input type="submit" class="pledge-direct" value="pledge with paypal"><br><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><span class="pledge-alter">use <a href="#" class="pledge-alter-bitcoin">bitcoin</a></span>
        <span class="pledge-alter">or <a href="#" class="pledge-alter-dogecoin">dogecoin</a></span>
      </p>
    </form><br>
  </div>


</div>